*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  color: white;
  background: rgb(126, 126, 126);
}
.container {
  max-width: 70%;
  padding: 0 20px;
  margin: 0px auto;
}

section {
  padding-top: 30px;
}

/* Nav */

nav {
  height: 500px;
  background: url('https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  object-fit: cover;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  padding: 10px;
}

li {
  padding: 5px 10px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(252, 236, 10);
}

.button-div {
  display: flex;
}

button {
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  background: orange;
  color: wheat;
  border: none;
  border-radius: 10%;
}

button:hover {
  color: rgb(12, 133, 231);
  cursor: pointer;
}

.headers h2,
h4,
p {
  text-align: center;
}
h2 {
  font-style: italic;
  margin: 60px;
  font-size: 50px;
}

h4 {
  margin-top: 30px;
  font-size: 35px;
}

p {
  margin-bottom: 40px;
}

i {
  padding: 10px;
  font-size: 30px;
}

/* Card */

.card {
  max-width: 400px;
  height: 300px;
  text-align: center;
  padding: 3px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */

.portfolio-card {
  background: rgb(157, 157, 157);
  padding: 5px;
  border-radius: 10px;
}

.portfolio {
  margin-top: 50px;
  background: rgb(106, 106, 106);
}

/* Footer */

footer {
  height: 30px;
}

h6 {
  padding: 20px;
}

li {
  padding: 0;
}

li i {
  font-size: 20px;
}
